*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-family: 'Poppins';
}
.app{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header h1{
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}
header p {
  font-size: 25px;
}
.pads{
  background: lightblue;
  width: 100%;
  display: flex;
}
.pads > div{
  height: 100px;
  width: 100px;
  flex: 1;
}
.pad1{
  background:#8ecae6 ;
}
.pad2{
  background:#219ebc ;
}
.pad3{
  background:#023047 ;
}
.pad4{
  background:#ffb703;
}
.pad5{
  background:#fb8500;
}
.pad6{
  background:#fb5607;
}
.visual > div{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  z-index: -1;
}
/* Animação bolhas*/
@keyframes jump{
  0%{
    bottom:0%;
    left:20%;

  }
  50%{
    bottom:50%;
    left:50%;
  }
  100%{
    bottom: 0%;
    left:80%;
  }
}
